.body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --title-color: #212121;
  --text-color: #757575;
  --text-color-white: #ffffff;
  --text-BG-color: #2196f3;
  --WEB-BG-color: #2196f3;
}
/* Хедер */

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--WEB-BG-color);
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.header-title {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.page:hover,
.page:focus {
  color: var(--text-BG-color);
}

.page-current:hover,
.page-current:focus {
  color: var(--text-BG-color);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--text-BG-color);
}

/* Портфолио */

.projects {
  color: var(--text-color-white);
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  color: var(--text-color-white);

  background: var(--text-BG-color);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

/* Футер */

.footer {
  background: #2f303a;
}

.footer-address {
  line-height: 1.71;
  font-style: normal;
}

.footer-post-address {
  color: var(--text-color-white);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--text-BG-color);
}

.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color-white);
}
