.body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  font-style: normal;
  letter-spacing: 0.03 em;

  background-color: #ffffff;
}

.list {
  list-style: none;
}

:root {
  --title-color: #212121;
  --text-color: #757575;
  --text-BG-color: #2196f3;
  --WEB-BG-color: #2196f3;
}
/* Хедер */

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26 px;
  line-height: 1.19;
  color: var(--WEB-BG-color);
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26 px;
  line-height: 1.19;
  color: #000000;
}

.header-title {
  font-weight: 500;
  font-size: 14 px;
  line-height: 1.14;
  letter-spacing: 0.02 em;
  color: var(--title-color);
}

.list .header-title:hover,
.list .header-title-current {
  color: var(--text-BG-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14 px;
  line-height: 1.14 px;
  letter-spacing: 0.02 em;
  color: var(--text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--text-BG-color);
}

/* Портфолио */

.projects {
  color: #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  font-weight: 500;
  font-size: 16 px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  background: var(--text-BG-color);
}

.project-name {
  font-size: 18 px;
  line-height: 2;
  letter-spacing: 0.06 em;
}

.project-type {
  line-height: 1.87;
  color: var(--text-color);
}

/* Футер */

.footer {
  background: #2f303a;
}

.footer-address {
  font-size: 14 px;
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
}

.footer-contacts {
  font-size: 14 px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--text-BG-color);
}

.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26 px;
  line-height: 1.19;
  color: #ffffff;
}
